<h2><%= question_header(@question, @test) %></h2>

<%= form_with model: [@test, @question] do |form| %>
  <%= form.label :text, 'Текст вопроса:' %>
  <%= form.text_field :text %>
  <%= form.submit 'Создать' %>
<% end %>

<%= link_to 'Назад', admin_test_questions_path(@test) %>
