<h1>Управление бэйджами</h1>

<%= link_to 'Новый бэйдж', new_admin_badge_path, class: 'btn btn-primary mb-3' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Изображение</th>
      <th>Правило</th>
      <th>Значение</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.name %></td>
        <td><%= image_tag badge.image, class: 'img-thumbnail', style: 'max-height: 50px;' %></td>
        <td><%= badge.rule_type %></td>
        <td><%= badge.value %></td>
        <td>
          <%= link_to 'Редактировать', edit_admin_badge_path(badge), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'Удалить', admin_badge_path(badge), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
