<h1><%= t('.test_completed', test_name: @test_passage.test.name) %></h1>

<div><%= t('.correct_answers', correct: @test_passage.correct_questions, total: @test_passage.test.questions.count) %></div>

<% if @test_passage.successful? %>
  <div><%= t('.success_rate_success_html', rate: format('%.1f', @test_passage.success_rate)).html_safe %></div>
  <div><%= t('.success_message') %></div>
<% else %>
  <div><%= t('.success_rate_fail_html', rate: format('%.1f', @test_passage.success_rate)).html_safe %></div>
  <div><%= t('.fail_message') %></div>
<% end %>

<%= link_to t('.back_to_tests'), tests_path %>
