<div class="container">
  <h1  class="my-4">Прохождение теста: <%= @test_passage.test.name %></h1>

  <div class="d-flex justify-content-between mb-3">
    Вопрос <%= @test_passage.test.questions.order(:id).where('id <= ?', @test_passage.current_question.id).count %> из <%= @test_passage.test.questions.count %>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text"><%= @test_passage.current_question.text %></p>
    </div>
  </div>

  <%= render "form" %>

  <div>
    <%= button_to 'Gist Question',
        gists_path,
        method: :post,
        params: { test_passage_id: @test_passage.id },
        class: 'btn btn-primary btn-sm'
    %>
  </div>

  <div class="mt-3">
    <%= link_to "Вернуться к списку тестов", tests_path, class: 'btn btn-secondary'  %>
  </div>
</div>
