<tr>

  <td class="align-middle">
    <%= content_tag :span, test.name, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td><%= test.level %></td>
  <td><%= t('admin.tests.test.questions_count', count: test.questions.count) %></td>
  <td><%= link_to t('admin.tests.test.show'), admin_test_path(test) %></td>
  <td>
    <%= link_to t('admin.tests.test.edit'),
        edit_admin_test_path(test),
        data: { test_id: test.id },
        class: 'form-inline-link'
    %>
  </td>
  <td>
    <%= link_to t('admin.tests.test.delete'),
        admin_test_path(test),
        method: :delete,
        data: { confirm: t('admin.tests.test.confirm_delete') }
    %>
  </td>
</tr>
