<h1><%= t('.title') %></h1>

<%= render 'form', test: @test %>

<h2><%= t('.questions') %></h2>
<%= render @test.questions %>

<%= link_to t('.add_question'), new_admin_test_question_path(@test) %>

<%= link_to t('.back'), admin_tests_path, class: 'btn' %>
