<h1><%= @test.name %></h1>

<h2><%= t('.questions') %></h2>
<%= render @questions %>

<%= link_to t('.add_question'), new_admin_test_question_path(@test) %>

<%= link_to t('.back'), admin_tests_path, class: 'btn' %>
